body
{
    font-family: 'cascadia code';
}

#select_color
{
    background-color:rgba(59, 59, 59, 0.8) ;
    color: #fff;
    border-radius:5px ;
    width:400px ;
    margin:200px auto 0 auto ;
    padding:10px ;
}

input
{
    display: block;
    width: 100%;
}

#select_color .btn
{
    padding:8px 12px ;
    border: none;
    background-color: #dfdfdf;
    border-radius: 3px;
    margin: 0 100px;

}

#select_color .btn:hover
{
    background-color: #d1d1d1;
    cursor: pointer;
}